<h2>Hello {{name}}</h2>
<p>Verify your email address to complete the signup and login into your <strong>Shopify</strong> account.</p>

<p>This link will expire in <strong>1 hour</strong>.</p>

<p style="margin-bottom:20px;">Click this link for active your account</p>

<a href="{{verificationUrl}}" style="background:#0989FF;color:white;border:1px solid #0989FF; padding: 10px 15px; border-radius: 4px; text-decoration:none;">Verify Account</a>

<p style="margin-top: 35px;">If you did not initiate this request, please contact us immediately at support@shopify.com</p>

<p style="margin-bottom:0px;">Thank you!</p>
<strong>Shopify Team</strong> 